/* ================= FONT ================= */
@font-face {
    font-family: 'SFProDisplay';
    src: url('../font/SFPRODISPLAY/SFProDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: fallback;
}
@font-face {
    font-family: 'SFProDisplay';
    src: url('../font/SFPRODISPLAY/SFProDisplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: fallback;
}
@font-face {
    font-family: 'SFProDisplay';
    src: url('../font/SFPRODISPLAY/SFProDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: fallback;
}
@font-face {
    font-family: 'SFProDisplay';
    src: url('../font/SFPRODISPLAY/SFProDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-display: fallback;
}
@font-face {
    font-family: 'SFProDisplay';
    src: url('../font/SFPRODISPLAY/SFProDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-display: fallback;
}
@font-face {
    font-family: 'SFProDisplay';
    src: url('../font/SFPRODISPLAY/SFProDisplay-Heavy.ttf') format('truetype');
    font-weight: 800;
    font-display: fallback;
}

/* ================= VARIABLE ================= */
:root {
    --white: #fff;
    --black: #000;
    --text-color: #333;
    --blue: #3a8eb9;
}

/* ================= RESET ================= */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    position: relative;
}

body, input, button, textarea, pre {
    font-family: SFProDisplay, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
  width: 5px;               
}
::-webkit-scrollbar-track {
  background: #f1f1f1;     
}
::-webkit-scrollbar-thumb {
  background: #888;         
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;         
}
/* ================= LAYOUT ================= */
.container {
    max-width: 1130px;
    padding: 0 10px;
    margin: 0 auto;
}

/* ================= HEADER ================= */
header {
    background-color: var(--white);
    position: sticky;
    top: 0;
    z-index: 15;
}

/* --- header middle --- */
.header-logo-img {
    width: 100px;
    height: 50px;
}

.header-middle {
    box-shadow: inset 0px -0.5px 0px #e7e7e7;
}
.header-middle .container {
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 7px 10px;
}

.header-middle-center {
    flex: 1;
    padding: 0 30px;
}

/* --- search form --- */
.form-search {
    display: flex;
    justify-content: center;
    position: relative;
}
.form-search-input {
    height: 40px;
    background-color: #f0f0f0;
    padding: 10px 20px;
    padding-left: 0px;
    border-top-right-radius: 99px;
    border-bottom-right-radius: 99px;
    width: 65%;
    outline: none;
    border: none;
}
.search-btn {
    background-color: #f0f0f0;
    border-top-left-radius: 99px;
    border-bottom-left-radius: 99px;
}
.filter-btn, .search-btn {
    border: none;
    outline: none;
    font-size: 20px;
    height: 40px;
    padding: 0 15px;
    color: var(--text-color);
    cursor: pointer;
    display: flex;
    align-items: center;
}
.filter-btn {
    background-color: var(--blue);
    height: 30px;
    color: var(--white);
    border-radius: 99px;
    position: relative;
    right: 80px;
    top: 5px;
    width: 75px;
}
.filter-btn span {
    font-size: 14px;
    margin-left: 5px;
}

/* --- header right --- */
.header-middle-right > ul {
    display: flex;
    column-gap: 20px;
}

.auth-container {
    display: flex;
    flex-direction: column;
}

.header-middle-right-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.header-middle-right-item i {
    font-size: 25px;
    margin-right: 10px;
    color: var(--blue);
}

/* --- dropdown menu --- */
.header-middle-right-item:hover .header-middle-right-menu {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
}
.header-middle-right-menu {
    position: absolute;
    top: calc(100% + 10px);
    border-radius: 5px;
    background-color: var(--white);
    box-shadow: rgb(0 0 0 / 18%) 0px 6px 12px 0px;
    border: 1px solid rgb(239, 239, 239);
    min-width: 200px;
    visibility: hidden;
    transform: translateY(20px);
    opacity: 0;
    transition: visibility 0.3s, transform 0.4s, opacity 0.3s;
    right: 0;
    z-index: 2;
}
.header-middle-right-menu::after {
    content: "";
    position: absolute;
    background-color: transparent;
    top: -10px;
    min-width: 200px;
    height: 10px;
}
.header-middle-right-menu li a {
    font-size: 14px;
    display: inline-block;
    padding: 8px 20px;
    width: 100%;
    color: var(--text-color);
}
.header-middle-right-menu li i {
    font-size: 14px;
    margin-right: 5px;
}
.header-middle-right-menu li:hover {
    background-color: #eee;
}
.header-middle-right-menu .border {
    border-top: 1px solid #eee;
}

/* --- text style --- */
.text-dndk {
    font-size: 12px;
}
.text-tk {
    font-size: 15px;
}
.text-tk i {
    font-size: 14px !important;
    color: var(--text-color) !important;
}

/* --- cart icon --- */
.cart-icon-menu {
    position: relative;
}
.cart-icon-menu span {
    position: absolute;
    background: var(--blue);
    color: var(--white);
    height: 20px;
    left: 20px;
    top: -15px;
    border-radius: 40px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    font-weight: 500;
    padding: 0 7px;
    z-index: 999999;
}

/* --- header bottom --- */
.header-bottom {
    position: fixed;
    left: 0;
    right: 0;
    background-color: var(--white);
    box-shadow: 0 3px 5px rgb(0 0 0 / 10%);
    transition: transform 0.6s ease;
    z-index: 4;
}
.header-bottom.hide {
    transform: translateY(-50px);
}

/* --- menu-list --- */
.menu-list {
    display: flex;
    height: 49px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

/* --- menu-link --- */
.menu-link {
    color: var(--black);
    display: inline-block;
    padding: 15px 20px;
    text-transform: uppercase;
    position: relative;
    font-size: 15px;
}
.menu-link::after{
    content: "";
    position: absolute;
    height: 2px;
    visibility: hidden;
    transform: scale(0);
    opacity: 0;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: var(--blue);
    transition: all 0.3s ease;
    transition: visibility 0.3s, transform 0.3s, opacity 0.3s;
}
.menu-link:hover::after {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
}

/* --- advanced search --- */
.advanced-search {
    position: fixed;
    width: 100%;
    z-index: 11;
    background-color: var(--white);
    transform: translateY(-50px);
    transition: transform 0.6s ease;
    
}
.advanced-search.open {
    transform: translateY(0);
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 10%);
}
.advanced-search .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.advanced-search-price {
    display: flex;
    align-items: center;
    height: 49px;
}
.advanced-search-price input {
    border: none;
    outline: none;
    height: 35px;
    width: 140px;
    padding: 0 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}
.advanced-search span{
    margin: 0 10px;
    font-size: 15px;
    color: var(--text-color);
}
#advanced-search-category-select {
    height: 35px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    background-color: #f0f0f0;
    border-right: 10px solid #f0f0f0;
    cursor: pointer;
}
#advanced-search-price-btn{
    margin-left: 10px;
    background-color: var(--blue);
    color: var(--white);
    font-size: 20px;
}
#advanced-search-price-btn,.advanced-search-control button{
    height: 35px;
    width: 35px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
.advanced-search-control button:hover {
    background-color: var(--blue);
    color: var(--white);
}

/* ================= MAIN MENU ================= */
/* --- advanced search --- */
.main-wrapper {
    overflow: hidden;
    padding-top: 60px;
}

/* --- home-slider --- */
.home-slider {
    display: flex;
    cursor: grab;
}
.home-slider:active {
    cursor: grabbing;
}
.home-slider img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;

}

/* --- home-service --- */
.home-service {
    display: flex;
    margin-top: 30px;
    column-gap: 20px;
    scroll-margin-top: 30px;
    white-space: nowrap;
    margin: 10px 0;
    padding: 10px 3px;
    overflow-x: auto;
}
.home-service-item{
    box-shadow: 0px 1px 9px 2px #f1f1f1;
    width: 25%;   
    display: flex;
    padding: 20px;
    align-items: center;
    border-radius: 5px;
}
.home-service-item-icon i{
    font-size: 40px;
    margin-right: 25px;
    color: var(--blue);
}
.home-service-item-content-h{
    font-size: 15px;
    color: var(--text-color)
}
.home-service-item-content-desc{
    margin-top: 4px;
    font-size: 14px;
    color:#888
}

/* --- home-title --- */
.home-title-block {
    padding: 0 10px 10px;
    scroll-margin-top: 80px;
}
.home-title {
    font-weight: 600;
    text-align: center;
    font-size: 21px;
    position: relative;
    text-transform: uppercase;
    margin-top: 30px;
}
.home-title::after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: var(--blue);
    width: 25%;
    left: 50%;
    transform: translate(-50%);
    bottom: -5px;
}
/* home - products */
.home-products {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}
.no-result{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

.no-result-h{
    font-size: 25px;
    margin: 10px
}

.no-result-p{
    width: 100%;
    color: #757575;
    text-align: center;
}

.no-result i{
    color: #757575;
    font-size: 80px;
    margin-top: 30px;
}
.col-product {
    width: 25%;
    padding: 10px;
    overflow: hidden;
}
.card-product {
    background-color: var(--white);
    border-radius: 5px;
    border: 1px solid #e5e5e5;
}
.card-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    position: relative;
}

.card-image {
    height: 155px;
    width: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
    display: block;
}
.card-image:hover {
    transform: scale(1.05);
}
.card-content {
    padding: 8px 10px;
    text-align: center;
}
.card-title {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 600;
}
.card-desc2 {
    text-align: center;
    color: #808080;
    font-size: 14px;
    height: 50px;
}
.card-footer {
    padding: 5px 10px 10px;
}
.product-buy {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.product-price{
    margin-top: 10px;
    text-align: center;
}
.product-price .price {
    color: var(--black);
    font-weight: 600;
    font-size: 15px
}
.card-button {
    background-color: var(--blue);
    outline: none;
    border: none;
    padding: 7px;
    color: var(--white);
    border-radius: 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    width: 85%;
}
.card-button:hover {
    box-shadow: inset 0 0 0 100px rgb(0 0 0 / 20%);
}
.card-button i {
    margin-right: 3px;
}

.page-nav,
.page-nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    margin-top: 10px;
}
.page-nav-item a {
    display: inline-block;
    color: var(--black);
    border: 2px solid var(--text-color);
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 27px;
    border-radius: 50%;
    font-size: 15px;
}
.page-nav-item.active a,.page-nav-item a:hover {
    background-color: var(--blue);
    color: var(--white);
    border: 2px solid var(--blue);
}



/* ================= FOOTER ================= */
.footer {
    background-color: #f2f2f2;
    margin-top: 30px;
    border-top: 4px solid var(--blue);
}
.footer .container {
    margin: 0 auto;
    display: block;
}
.footer-top {
    display: flex;
    padding: 32px 0;
    border-bottom: 1px solid #e6e6e6;
    justify-content: center;
    align-items: center;
    font-style: 16px;
    font-weight: 600;
}
.footer-top-content {
    display: flex;
    line-height: 26px;
    justify-content: space-between;
}
.footer-top-img {
    border-right:  1px solid #e6e6e6;
    padding-right: 25px;
}
.footer-top-img img {
    width: 240px;
}
.footer-top-subbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
}
.footer-top-subs-title {
    font-style: 24px;
    font-weight: 700;
    text-transform: uppercase;
}
.footer-top-subs-text {
    font-style: 15px;
    color: #888;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 10px;
}

.form-ground {
    margin-left: 50px;
    line-height: 26;
    display: flex;
}
.form-ground-input, 
.form-ground-btn {
    height: 50px;
    border-radius: 99px;
    font-weight: 500;
    font-style: 16px;
}
.form-ground-input {
    padding: 0 30px;
    bottom: 1px solid #ccc;
    color: #4D5765;
    outline: none;
    font-style: 15px;
    border: none;
}
.form-ground-btn {
    margin-left: 10px;
    padding: 0 40px;
    cursor: pointer;
    background: var(--blue);
    overflow: hidden;
    outline: none;
    border: none;
    color: var(--white);
    text-transform: uppercase;
}
.form-ground-btn span {
    margin-right: 10px;
}
.form-ground-btn:hover {
    color: var(--black);
    background-color: var(--white);
}

.widget-area {
    padding: 60px 0 30px;
}
.widget-row {
    display: flex;
    justify-content: space-between;
}
.widget-row-col {
    width: 25%;
}
.widget-row>div {
    padding: 0 10px 10px;
}
.widget-title {
    font-style: 18px;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 20px;
    position: relative;
}
.widget-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: none;
    height: 3px;
    width: 100px;
    background-image: linear-gradient(to right, var(--blue), transparent);
}
.widget-row-col-content {
    padding-bottom: 18px;
    font-style: 16px;
    font-weight: 400;
    line-height: 1.5;
}
.widget-social {
    display: flex;
}
.widget-social-item {
    margin: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #2C2C2C;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s linear;
    margin-bottom: 12px;
}
.widget-contact-item {
    margin-bottom: 12px;
}
.widget-contact-item i {
    transition: transform 0.3s linear;
}
.widget-contact-item a {
    color: #2C2C2C;
}
.widget-contact-item:hover i {
    transform: translateX(4px);
}
.widget-social-item:hover {
    background-color: var(--blue);
    transform: scale(1.1);
    border: none;
}
.widget-social-item:hover i {
    color: #fff;
}
.widget-social-item i {
    color: #2C2C2C;
}
.widget-contact i {
    font-size: 16px;
    margin-right: 10px;
}
.widget-contact span {
    font-weight: 400;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.contact-item-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--blue);
    color: var(--white)
}
.contact-content {
    margin-left: 10px;
    width: 80%;
    line-height: 1.5;
    font-size: 15px;
}
.copyright-wrap {
    background: #f3f5f7;
    color: var(--text-color);
    margin: unset;
    padding: 18px 0;
    border-top: 1px solid #e6e6e6;
}

.copyright-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ================= MODAL ================= */
.modal {
    background-color: rgba(0, 0, 0, .6);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 16;
}

.modal.open {
    pointer-events: auto;
    opacity: 1;
}

.modal.open .modal-container{
    transform: scale(1);
}

.modal-close {
    background-color: rgb(0 0 0 / 40%);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 28px;
    color: var(--white);
    border: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-close i {
    transition: all 0.4s;
}

.modal-close:hover i {
    transform: rotate(180deg)
}

.modal-body {
    padding: 15px 20px;
}


/* ================= LOGIN - SIGNUP ================= */
.modal.signup-login.open {
    pointer-events: auto;
    opacity: 1;
}

.modal.signup-login .modal-container {
    overflow: hidden;
}
.modal.signup-login.open .modal-container{
    transform: scale(1);
}

.modal-container {
    background-color: var(--white);
    max-height: calc(100vh - 60px);
    box-shadow: 0px 4px 30px rgb(0 0 0 / 25%);
    border-radius: 5px;
    overflow: hidden;
    overflow-y: scroll;
    overflow-y: overlay;
    position: relative;
    transform: scale(0.8);
    transition: 0.3s ease;
    width: 380px;
}

.modal-container .forms {
    width: 200%;
    display: flex;
    align-items: center;
}

.modal-container.active .forms {
    height: 375px;
}

.modal-container.active .sign-up {
    margin-left: -50%;
}

/* --- Form - Login Signup --- */
.form-content {
    padding: 20px;
    width: 50%;
}

.form-title {
    text-align: center;
    padding-bottom: 10px;
    font-size: 20px;
}

.form-description {
    text-align: center;
    color: #808080;
    font-size: 14px;
}

.login-form,
.signup-form {
    margin-top: 15px;
}

.form-group {
    margin-bottom: 10px;
}

.form-label {
    margin-bottom: 5px;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
}

.form-control {
    width: 100%;
    height: 40px;
    padding: 8px 12px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    outline: none;
    transition: border 0.3s linear;
}

.form-control:focus {
    border-color: var(--blue);
}

.form-message {
    color: var(--blue);
    font-size: 13px;
    margin-top: 10px;
}

.form-submit {
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    color: var(--white);
    background-color: var(--blue);
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}
.form-submit:hover {
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
}

.form-close {
    background-color: rgba(0, 0, 0, .3);
    height: 30px;
    width: 30px;
    line-height: 29px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2;
    border-radius: 50%;
    border: none;
    outline: none;
    color: var(--white);
    cursor: pointer;
}
.form-close:hover {
    background-color: var(--blue);
}
.checkbox {
    transform: scale(1.25);
}

.change-login {
    padding-top: 15px;
    text-align: center;
    font-size: 16px;
}
.change-login a, 
.form-group label a {
    color: var(--blue);
}
.change-login a:hover,
.form-group label a:hover {
    color: var(--text-color);
}

.form-message {
    color: var(--blue);
    font-style: 13px;
    margin-top: 10px;
}


/* --- Form - Cart --- */
.modal-cart {
    background-color: rgba(0, 0, 0, .6);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 16;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    visibility: hidden;
}

.modal-cart.open {
    visibility: visible;

}

.modal-cart.open .cart-container {
    visibility: visible;
    transform: translateX(0);
}
.cart-container {
    overflow: hidden;
    position: relative;
    background-color: var(--white);
    width: 400px;
    height: calc(100% - 30px);
    right: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 66px;
    padding-bottom: 119px;
    transform: translateX(100%);
    visibility: hidden;
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), visibility 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.cart-header-title {
    font-weight: 600;
}

.cart-header-title i {
    color: var(--blue);
    font-size: 20px;
    margin-right: 10px;
}
.cart-header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 1px solid #eee;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--white);
}
.cart-close {
    background-color: rgba(0, 0, 0, .3);
    height: 30px;
    width: 30px;
    line-height: 30px;
    color: var(--white);
    cursor: pointer;
    border-radius: 50%;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    
}
.cart-close:hover {
    background-color: var(--blue);
}
.cart-body {
    flex-grow: 1;
    padding: 10px 20px;
    overflow: auto;
}
.gio-hang-trong {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
.gio-hang-trong i {
    font-size: 70px;
}
.gio-hang-trong p {
    font-size: 14px;
    margin-top: 20px;
}
.cart-footer {
    padding: 20px;
    border-top: 1px solid #eee;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.cart-total-price {

    display: flex;
    justify-content: space-between;
}

.cart-total-price .text-price,
.cart-total-price .text-tt {
    font-weight: 600;
    font-size: 18px;
}
.cart-footer-payment {
    display: flex;
    column-gap: 10px;
    margin-top: 15px;
}

.cart-footer-payment button {
    outline: none;
    border: none;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    cursor: pointer;
}
button.them-mon {
    background-color: var(--white);
    border: 2px solid;
}
button.them-mon:hover {
    background-color: var(--blue);
    border: 2px solid;
    color: var(--white);
}

button.thanh-toan {
    background-color: var(--blue);
    color: var(--white);
}

button.thanh-toan:hover {
    background-color: #888;
    color: var(--blue);
}

button.thanh-toan.disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
}

.cart-item-control {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.cart-item-delete {
    border: none;
    outline: none;
    background-color: var(--blue);
    padding: 5px 10px;
    color: var(--white);
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.cart-item-delete:hover {
    border: none;
    outline: none;
    background-color: #888;
    padding: 5px 10px;
    color: var(--blue);
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.cart-item-delete::before {
    content: "\f1f8";
    font-family: "Font Awesome 6 Pro";
    margin-right: 5px;
}

.cart-item {
    list-style: none;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}

.cart-item-info {
    display: flex;
    justify-content: space-between;
}

.cart-item-title {
    font-size: 15px;
    width: 70%;
}

.cart-item-price {
    color: #666666;
    font-weight: 500;
    width: 30%;
    text-align: right;
    font-size: 14px;
}

.product-note {
    font-size: 13px;
    color: #808080;
    font-style: italic;
    margin-top: 5px;
}

.product-note i {
    margin-right: 5px;
}

/* Thông tin tài khoản */
#trangchu.hide {
    display: none;
}

#account-user {
    display: none !important;
}

#account-user.open {
    display: flex !important;
}

#order-history {
    display: none !important;
}

#order-history.open {
    display: flex !important;
    justify-content: center;
}

#account-user {
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.main-account {
    width: 80%;
    border: 1px solid #dae2e6;
    padding: 20px;
}

.main-account.active {
    display: block;
}

.main-account-header {
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.main-account-body {
    display: flex;
    flex-wrap: wrap;
}

.main-account-body-row {
    width: 100%;
    display: flex;
}
.main-account-body-row>div {
    width: 50%;
}
.main-account-body-col {
    padding-top: 10px;
    width: 50%;
}

.main-account-body-col .form-group {
    margin-right: 30px;
}
#save-password,
#save-info-user {
    border: none;
    outline: none;
    color: var(--white);
    background-color: var(--blue);
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}
#save-password i,
#save-info-user i {
    margin-right: 5px;
}
#save-password:hover,
#save-info-user:hover {
    color: var(--blue);
    background-color: var(--text-color);

}


/* Order History */
.order-history-section {
    padding-top: 20px;
    width: 100%;
}

.order-history-group {
    border: 1px solid #e5e5e5;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.order-history {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    position: relative;
}

.order-history-left {
    display: flex;
}

.order-history-left img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 14px;
    border-radius: 5px;
}

.order-history-info p {
    margin-top: 7px;
}

.order-history-info h4 {
    font-weight: 500;
    color: var(--text-color);
    font-size: 16px;
}

.order-history-note {
    color: #0000008a;
    font-size: 14px;
}

.order-history-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.order-history-old-price {
    font-size: 14px;
    text-decoration: line-through;
    color: #808080;
}

.order-history-current-price {
    color: var(--blue);
    font-weight: 500;
}

.order-history-control {
    border-top: 1px solid #f0f0f0;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

#order-history-detail,
.order-history-status-sp {
    background-color: #eee;
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 14px;
    color: var(--text-color);
    text-transform: uppercase;
    position: relative;
}

.order-history-status-sp.complete{
    background-color: #27ae60;
    color: var(--white);
    padding-left: 35px;
}

.order-history-status-sp.complete::before{
    content: "\f00c";
    font-family: "Font Awesome 6 Pro";
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.order-history-status-sp.no-complete{
    background-color: #f04e2e;
    color: var(--white);
    padding-left: 35px;
}

.order-history-status-sp.no-complete::before{
    content: "\e1d4";
    font-family: "Font Awesome 6 Pro";
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}

#order-history-detail {
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #e5e5e5;
    color: var(--text-color);
}

#order-history-detail i {
    margin-right: 5px;
}

.order-history-total-desc {
    font-size: 15px;
    margin-right: 15px;
}

.order-history-toltal-price {
    color: var(--blue);
    font-size: 22px;
    font-weight: 500;
}

.empty-order-section{
    text-align: center;
}

.empty-order-img{
    width: 250px;
    margin-bottom: 20px;
}

/* Products Detail */
.product-detail .modal-container {
    width: 585px;
}

h2.product-title {
    color: var(--black);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;

}

.product-detail .modal-container {
    width: 585px;
}
.product-image {
    width: 100%;
    object-fit: cover;
    max-height: 375px;
}

.product-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.buttons_added {
    display: -ms-inline-flexbox;
    display: inline-flex;
    white-space: nowrap;
}

.is-form {
    background-color: #f9f9f9;
    height: 25px;
    width: 25px;
    border: 1px solid #ddd;
    cursor: pointer;
    line-height: 20px;
}

.is-form:focus,.input-text:focus {
    outline: none;
}

.is-form.plus,.is-form.minus {
    border-radius: 50%;
}

.input-qty {
    background-color: #fff;
    height: 25px;
    width: 30px;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    margin: 0 5px;
    border: 1px solid #ddd;
    padding: 0;
    border-radius: 5px;
    outline: none;
}

.input-qty::-webkit-outer-spin-button,
.input-qty::-webkit-inner-spin-button {
    --webkit-appearance: none;
    margin: 0;
}

.product-description {
    color: var(--text-color);
    font-size: 15px;
}

.notebox {
    border-top: 1px solid #eee;
    padding: 12px 20px;
}

.notebox-title {
    color: #808080;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 10px;
}

.text-note {
    width: 100%;
    height: 100px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 15px;
    background-color: #F7F7F7;
    font-size: 14px;
}

.modal-footer {
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #eee;
    background-color: var(--white);
    position: sticky;
    bottom: 0;
}

.price-total {
    display: flex;
    flex-direction: column;
}

.price-total .thanhtien {
    color: #808080;
    font-size: 13px;
}

.price-total .price {
    font-weight: 800;
    font-size: 16px;
}
.modal-footer-control button {
    background-color: var(--blue);
    border: none;
    outline: none;
    color: var(--white);
    padding: 10px 25px;
    font-size: 15px;
    border-radius: 25px;
    font-weight: 500;
    cursor: pointer;
}
.modal-footer-control button:hover {
    background-color: #888;
    border: none;
    outline: none;
    color: var(--blue);
    padding: 10px 25px;
    font-size: 15px;
    border-radius: 25px;
    font-weight: 500;
    cursor: pointer;
}


/*Deatil Order */
.detail-order .modal-container {
    width: 550px;
}

.detail-order-content {
    padding: 20px
}
.detail-order-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}

.detail-order-item-left {
    width: 40%;
}

.detail-order-item-right {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.detail-order-item i {
    color: var(--blue);
    margin-right: 5px;
}


.empty-order-section{
    text-align: center;
}


/* Checkout Page */
.checkout-page {
    background-color: #f5f5f5;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    overflow-y: auto;
    transform: translateX(100%);
    transition: all 0.5s ease;
}

.checkout-page.active {
    transform: translateX(0);
}

.checkout-header {
    background-color: var(--white);
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #eee;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}

.checkout-return {
    float: left;
}

.checkout-return button {
    float: left;
    border: none;
    width: 30px;
    background-color: transparent;
    outline: none;
    font-size: 20px;
    cursor: pointer;
    color: var(--text-color);
}

.checkout-title {
    font-weight: 700;
    font-size: 20px;
    color: var(--text-color);
}

.checkout-section {
    padding-top: 15px;
    display: flex;
    column-gap: 20px;
}

.checkout-row,
.checkout-col-right {
    background-color: var(--white);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 10px rgb(0 0 0 / 3%);
    margin-bottom: 20px;
}

.checkout-col-right {
    border: 1px solid var(--blue);
    padding: 15px;
    height: 100%;
}

.checkout-col-right .checkout-content-label {
    font-size: 17px;
}

.content-group {
    padding: 15px 20px
}

.checkout-content-label {
    color: var(--black);
    font-weight: 600;
    margin-bottom: 15px;
}

.checkout-col-left {
    width: 70%;

}

.checkout-col-right {
    width: 30%;

}

.checkout-col-title {
    padding: 15px 20px 15px 33px;
    position: relative;
    font-size: 15px;
    line-height: 100%;
    text-transform: uppercase;
    color: #222222;
    font-weight: 700;
    border-bottom: 1px solid #E7E7E7;
}

.checkout-col-title:before {
    background: var(--blue);
    width: 4px;
    height: 17px;
    left: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    content: "";
    position: absolute;
}

.checkout-type-order {
    display: flex;
    column-gap: 15px;
}

.type-order-btn {
    width: 50%;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    background-color: #f6f6f6;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.type-order-btn:hover,
.type-order-btn.active {
    border: 1px solid var(--blue);
    background-color: var(--white);
    color: var(--text-color);
}

.type-order-btn i {
    font-size: 22px;
    margin-right: 20px;
}

#tudenlay-group {
    display: none;
}

.content-group.chk-ship {
    display: flex;
    flex-direction: column;
}

.date-order {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}

.pick-date {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #F6F6F6;
    border-radius: 6px;
    font-size: 12px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    color: #666666;
    padding: 10px 0;
}

.pick-date.active,
.pick-date:hover {
    background: var(--blue);
    color: #FFFFFF;
}

.delivery-time:not(:last-child) {
    margin-bottom: 15px;
}

.delivery-time {
    display: flex;
    align-items: center;
}

.choise-time {
    font-size: 14px;
    border: 1px solid var(--blue);
    height: 32px;
    outline: none !important;
    margin-left: 30px;
    background-color: var(--white);
    border-radius: 5px;
    padding: 3px
}

.note-order {
    background: #FFF6ED;
    width: 100%;
    border: none;
    outline: none;
    min-height: 80px;
    border-radius: 6px;
    padding: 13px;
    font-size: 14px;
    line-height: 100%;
    color: #222222;
}

.bill-total {
    margin-bottom: 20px;
}

.food-total {
    display: flex;
    margin-bottom: 10px;
}

.food-total .count {
    width: 27px;
    flex-shrink: 0;
    margin-right: 40px;
    font-size: 14px;
    line-height: 140%;
    display: block;
    color: var(--text-color);
    font-weight: 600;
}

.food-total .info-food {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.food-total .name-food {
    font-size: 14px;
    color: var(--text-color);
    line-height: 140%;
    font-weight: 600;
}

.bill-payment {
    padding-top: 25px;
    border-top: 1px solid #D3D3D3;
    margin-bottom: 25px;
}

.priceFlx {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 15px;
}

.policy-note {
    font-size: 12px;
    color: #666666;
    margin: 15px 0;
}

.policy-note a {
    color: var(--blue);
}

.priceFlx .count {
    color: var(--blue);
    font-size: 12px;
}

.price-detail span {
    font-weight: 500;
}

.total-checkout {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    border-top: 1px solid var(--blue)
}

.price-bill {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.price-final {
    color: var(--blue);
    font-weight: 600;
}

.price-ori {
    color: #666666;
    font-size: 13px;
    display: inline-block;
    margin-top: 6px;
    text-decoration-line: line-through;
}

.discount {
    color: #629050;
}

.complete-checkout-btn {
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    cursor: pointer;
    color: var(--white);
    background-color: var(--blue);
    text-align: center;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 600;
}

.modal-container-title {
    display: inline-block;
    margin-top: 16px;
    margin-left: 20px;
    text-transform: uppercase;
}

.detail-order-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}

.detail-order-item-left {
    width: 40%;
}

.detail-order-item-right {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.detail-order-item i {
    color: var(--blue);
    margin-right: 5px;
}

.header-middle-right-item.close{
    display: none;
}


