/* ================= FONT ================= */
@font-face {
    font-family: 'SFProDisplay';
    src: url('../font/SFPRODISPLAY/SFProDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: fallback;
}
@font-face {
    font-family: 'SFProDisplay';
    src: url('../font/SFPRODISPLAY/SFProDisplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: fallback;
}
@font-face {
    font-family: 'SFProDisplay';
    src: url('../font/SFPRODISPLAY/SFProDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: fallback;
}
@font-face {
    font-family: 'SFProDisplay';
    src: url('../font/SFPRODISPLAY/SFProDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-display: fallback;
}
@font-face {
    font-family: 'SFProDisplay';
    src: url('../font/SFPRODISPLAY/SFProDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-display: fallback;
}
@font-face {
    font-family: 'SFProDisplay';
    src: url('../font/SFPRODISPLAY/SFProDisplay-Heavy.ttf') format('truetype');
    font-weight: 800;
    font-display: fallback;
}

/* ================= VARIABLE ================= */
:root {
    --white: #fff;
    --black: #000;
    --text-color: #191b81;
    --blue: #3a8eb9;
}

/* ================= RESET ================= */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    position: relative;
}

body, input, button, textarea, pre {
    font-family: SFProDisplay, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* ================= LAYOUT ================= */
.container {
    max-width: 1130px;
    padding: 0 10px;
    margin: 0 auto;
}

/* ================= HEADER ================= */
header {
    background-color: var(--white);
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* --- header middle --- */
.header-logo-img {
    width: 100px;
    height: 50px;
}

.header-middle {
    box-shadow: inset 0px -0.5px 0px #e7e7e7;
}
.header-middle .container {
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 7px 10px;
}

.header-middle-center {
    flex: 1;
    padding: 0 30px;
}

/* --- search form --- */
.form-search {
    display: flex;
    justify-content: center;
    position: relative;
}
.form-search-input {
    height: 40px;
    background-color: #f0f0f0;
    padding: 10px 20px;
    padding-left: 0px;
    border-top-right-radius: 99px;
    border-bottom-right-radius: 99px;
    width: 65%;
    outline: none;
    border: none;
}
.search-btn {
    background-color: #f0f0f0;
    border-top-left-radius: 99px;
    border-bottom-left-radius: 99px;
}
.filter-btn, .search-btn {
    border: none;
    outline: none;
    font-size: 20px;
    height: 40px;
    padding: 0 15px;
    color: var(--text-color);
    cursor: pointer;
    display: flex;
    align-items: center;
}
.filter-btn {
    background-color: var(--blue);
    height: 30px;
    color: var(--white);
    border-radius: 99px;
    position: relative;
    right: 80px;
    top: 5px;
    width: 75px;
}
.filter-btn span {
    font-size: 14px;
    margin-left: 5px;
}

/* --- header right --- */
.header-middle-right > ul {
    display: flex;
    column-gap: 20px;
}

.auth-container {
    display: flex;
    flex-direction: column;
}

.header-middle-right-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.header-middle-right-item i {
    font-size: 25px;
    margin-right: 10px;
    color: var(--blue);
}

/* --- dropdown menu --- */
.header-middle-right-item:hover .header-middle-right-menu {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
}
.header-middle-right-menu {
    position: absolute;
    top: calc(100% + 10px);
    border-radius: 5px;
    background-color: var(--white);
    box-shadow: rgb(0 0 0 / 18%) 0px 6px 12px 0px;
    border: 1px solid rgb(239, 239, 239);
    min-width: 200px;
    visibility: hidden;
    transform: translateY(20px);
    opacity: 0;
    transition: visibility 0.3s, transform 0.4s, opacity 0.3s;
    right: 0;
    z-index: 2;
}
.header-middle-right-menu::after {
    content: "";
    position: absolute;
    background-color: transparent;
    top: -10px;
    min-width: 200px;
    height: 10px;
}
.header-middle-right-menu li a {
    font-size: 14px;
    display: inline-block;
    padding: 8px 20px;
    width: 100%;
    color: var(--text-color);
}
.header-middle-right-menu li i {
    font-size: 14px;
    margin-right: 5px;
}
.header-middle-right-menu li:hover {
    background-color: #eee;
}
.header-middle-right-menu .border {
    border-top: 1px solid #eee;
}

/* --- text style --- */
.text-dndk {
    font-size: 12px;
}
.text-tk {
    font-size: 15px;
}
.text-tk i {
    font-size: 14px !important;
    color: var(--text-color) !important;
}

/* --- cart icon --- */
.cart-icon-menu {
    position: relative;
}
.cart-icon-menu span {
    position: absolute;
    background: var(--blue);
    color: var(--white);
    height: 20px;
    left: 20px;
    top: -15px;
    border-radius: 40px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    font-weight: 500;
    padding: 0 7px;
    z-index: 100000;
}

/* --- header bottom --- */
.header-bottom {
    position: fixed;
    left: 0;
    right: 0;
    background-color: var(--white);
    box-shadow: 0 3px 5px rgb(0 0 0 / 10%);
    transition: transform 0.6s ease;
    z-index: 4;
}
.header-bottom.hide {
    transform: translateY(-50px);
}

/* --- menu-list --- */
.menu-list {
    display: flex;
    height: 49px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

/* --- menu-link --- */
.menu-link {
    color: var(--black);
    display: inline-block;
    padding: 15px 20px;
    text-transform: uppercase;
    position: relative;
    font-size: 15px;
}
.menu-link::after{
    content: "";
    position: absolute;
    height: 2px;
    visibility: hidden;
    transform: scale(0);
    opacity: 0;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: var(--blue);
    transition: all 0.3s ease;
    transition: visibility 0.3s, transform 0.3s, opacity 0.3s;
}
.menu-link:hover::after {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
}

/* --- advanced search --- */
.advanced-search {
    position: fixed;
    width: 100%;
    z-index: 11;
    background-color: var(--white);
    transform: translateY(-50px);
    transition: transform 0.6s ease;
    
}
.advanced-search.open {
    transform: translateY(0);
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 10%);
}
.advanced-search .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.advanced-search-price {
    display: flex;
    align-items: center;
    height: 49px;
}
.advanced-search-price input {
    border: none;
    outline: none;
    height: 35px;
    width: 140px;
    padding: 0 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}
.advanced-search span{
    margin: 0 10px;
    font-size: 15px;
    color: var(--text-color);
}
#advanced-search-category-select {
    height: 35px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    background-color: #f0f0f0;
    border-right: 10px solid #f0f0f0;
    cursor: pointer;
}
#advanced-search-price-btn{
    margin-left: 10px;
    background-color: var(--red);
    color: var(--white);
    font-size: 20px;
}
#advanced-search-price-btn,.advanced-search-control button{
    height: 35px;
    width: 35px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
.advanced-search-control button:hover {
    background-color: var(--blue);
    color: var(--white);
}

/* ================= MAIN MENU ================= */
/* --- advanced search --- */
.main-wrapper {
    overflow: hidden;
    padding-top: 60px;
}

/* --- home-slider --- */
.home-slider {
    display: flex;
    cursor: grab;
}
.home-slider:active {
    cursor: grabbing;
}
.home-slider img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;

}

/* --- home-service --- */
.home-service {
    display: flex;
    margin-top: 30px;
    column-gap: 20px;
    scroll-margin-top: 30px;
    white-space: nowrap;
    margin: 10px 0;
    padding: 10px 3px;
    overflow-x: auto;
}
.home-service-item{
    box-shadow: 0px 1px 9px 2px #f1f1f1;
    width: 25%;   
    display: flex;
    padding: 20px;
    align-items: center;
    border-radius: 5px;
}
.home-service-item-icon i{
    font-size: 40px;
    margin-right: 25px;
    color: var(--blue);
}
.home-service-item-content-h{
    font-size: 15px;
    color: var(--text-color)
}
.home-service-item-content-desc{
    margin-top: 4px;
    font-size: 14px;
    color:#888
}

/* --- home-title --- */
.home-title-block {
    padding: 0 10px 10px;
    scroll-margin-top: 80px;
}
.home-title {
    font-weight: 600;
    text-align: center;
    font-size: 21px;
    position: relative;
    text-transform: uppercase;
    margin-top: 30px;
}
.home-title::after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: var(--blue);
    width: 25%;
    left: 50%;
    transform: translate(-50%);
    bottom: -5px;
}

/* ================= FOOTER ================= */
.footer {
    background-color: #f2f2f2;
    margin-top: 30px;
    border-top: 4px solid var(--blue);
}
.footer .container {
    margin: 0 auto;
    display: block;
}
.footer-top {
    display: flex;
    padding: 32px 0;
    border-bottom: 1px solid #e6e6e6;
    justify-content: center;
    align-items: center;
    font-style: 16px;
    font-weight: 600;
}
.footer-top-content {
    display: flex;
    line-height: 26px;
    justify-content: space-between;
}
.footer-top-img {
    border-right:  1px solid #e6e6e6;
    padding-right: 25px;
}
.footer-top-img img {
    width: 240px;
}
.footer-top-subbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
}
.footer-top-subs-title {
    font-style: 24px;
    font-weight: 700;
    text-transform: uppercase;
}
.footer-top-subs-text {
    font-style: 15px;
    color: #888;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 10px;
}

.form-ground {
    margin-left: 50px;
    line-height: 26;
    display: flex;
}
.form-ground-input, 
.form-ground-btn {
    height: 50px;
    border-radius: 99px;
    font-weight: 500;
    font-style: 16px;
}
.form-ground-input {
    padding: 0 30px;
    bottom: 1px solid #ccc;
    color: #4D5765;
    outline: none;
    font-style: 15px;
    border: none;
}
.form-ground-btn {
    margin-left: 10px;
    padding: 0 40px;
    cursor: pointer;
    background: var(--blue);
    overflow: hidden;
    outline: none;
    border: none;
    color: var(--white);
    text-transform: uppercase;
}
.form-ground-btn span {
    margin-right: 10px;
}
.form-ground-btn:hover {
    color: var(--black);
    background-color: var(--white);
}